
<div class="row">
	<div class="col-lg-12">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações da Mensagem</div>
			<div class="panel-body">
				<div id="mensagem"><%-(item || '') %></div>
			</div>
			<div class="panel-footer">
				<input value="Salvar Alterações" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript" src="<%- staticRoot %>/lib/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	CKEDITOR.replace("mensagem");

	$("#form").validate({
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.post("<%- root %>/api/mensagemInicial/alterar", {
				mensagem: CKEDITOR.instances.mensagem.getData()
			}, function (response) {
				if (response.success)
					Notification.success("Mensagem inicial alterada com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});
		}
	});
	//]]>
</script>
